<div class="Maincontainer">
    <h1 class="ProductsTitile">Product</h1>
    <a href="/products" class="toaddProduct">products</a>
</div>

<div class="containerAproducts">

    <div class="products" >
        
        <div  id="infopro">
            <p  class="images"></p>
            <h2 class="name" id="title">Name</h2>
            <h2 class="details" id="title">Details</h2>
            <h2 class="quantity" >Quantity</h2>
            <h2 class="purchasePrice" >Purchase Price</h2>
            <h2 class="wholeSalePrice" >WholeSale Price</h2>
            <h2 class="singlePrice" >Single Price</h2>
            <h2 class="code">Code</h2>
            <h2 class="supplier" id="title">Supplier</h2>
        </div>

        <div class="getproducts"></div>
    </div>

    <div class="ghraphPro">
        
        <form class="filterdatePro">
            <div>
                <label for="from">from:</label>
                <input type="date" id="from" >
            </div>

            <div>
                <label for="To">To:</label>
                <input type="date" id="To" >
            </div>
        </form>

        <div class="statisticPro"></div>
    </div>
</div>

<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>
