<div class="Maincontainer">
    <h1 class="ProductsTitile">Products</h1>
    <a href="/products/add" class="toaddProduct">add product</a>
</div>

<div class="products">
    
    <div class="titles">
        <p  class="images"></p>
        <h2 class="name" id="title">Name</h2>
        <h2 class="details" id="title">Details</h2>
        <h2 class="quantity" >Quantity</h2>
        <h2 class="purchasePrice" >Purchase Price</h2>
        <h2 class="wholeSalePrice" >WholeSale Price</h2>
        <h2 class="singlePrice" >Single Price</h2>
        <h2 class="code">Code</h2>
        <h2 class="supplier" id="title">Supplier</h2>
        <p ></p>
    </div>

    <div class="titles">
        <div class="images" >
            <div class="image"></div>
        </div>
        <p class="name" id="title">Name jsodjn dnifnf nfofnsss nfofnf nofjfss</p>
        <p class="details" id="title">Details jor nfgj enirff</p>
        <p class="quantity" >Quantity</p>
        <p class="purchasePrice" >Purchase Price</p>
        <p class="wholeSalePrice" >WholeSale Price</p>
        <p class="singlePrice" >Single Price</p>
        <p class="code" >Code</p>
        <p class="supplier" id="title">Supplier</p>
        <div class="actions" >
            <a href="/products/edit/1" class="edits"><img src="/images/edit.png" class="edit" alt="edit"></a>
            <img src="/images/delete.png" class="delete" alt="delete"/>
        </div>

    </div>

</div>