<div class="Maincontainer">
    <h1 class="ProductsTitile">Products</h1>
    <a href="/products/add" class="toaddProduct">add product</a>
</div>

<div class="products">
    
    <div class="titles">
        <p  class="images"></p>
        <h2 class="name" id="title">Name</h2>
        <h2 class="details" id="title">Details</h2>
        <h2 class="quantity" >Quantity</h2>
        <h2 class="purchasePrice" >Purchase Price</h2>
        <h2 class="wholeSalePrice" >WholeSale Price</h2>
        <h2 class="singlePrice" >Single Price</h2>
        <h2 class="code">Code</h2>
        <h2 class="supplier" id="title">Supplier</h2>
        <p class="actions"></p>
    </div>


    <div class="getproducts"></div>
</div>


<div id="productAlert" >
    <p>Are you sure you want to delete this Product?</p>
    <div class="sure">
        <button onclick="handleYes()" class="yes">Yes</button>
        <button onclick="handleNo()" class="yes">No</button>
    </div>
</div>