<div class="Maindiv">
    <h1 class="titleaddproducts">Add Category</h1>
    <a href="/categories" class="toaddProduct">categories</a>
</div>


<form class="infoProduct" id="addCat" method="post">
        
         <label for="name" class="namelabel">Name</label>
         <input type="text" name="name" id="name" class="inputname">

    <button type="submit" class="add">Add Category</button>

</form>


<div class="catcontainer">
        <div class="addAlerts" id="messagesadd" >
            <p id="message"></p>
            <button onclick="handleokcat()" class="ok" >ok</button>
        </div>
</div>