<div class="catContainer">
    <h1 class="ProductsTitile">Categories</h1>
    <a href="/categories/add" class="toaddProduct">add Category</a>
</div>

<div class="cats">
    
    <div class="titles">
        <h2 class="name">Name</h2>
        <div class="actioncat"></div>
    </div>


    <div id="categoriesContainer"></div>

</div>



<div id="customAlert" >
    <p>Are you sure you want to delete this category?</p>
    <div class="sure">
        <button onclick="handleYes()" class="yes">Yes</button>
        <button onclick="handleNo()" class="yes">No</button>
    </div>
</div>