<div class="catContainer">
    <h1 class="ProductsTitile">Categories</h1>
    <a href="/categories/add" class="toaddProduct">add Category</a>
</div>

<div class="cats">
    
    <div class="titles">
        <h2 class="name">Name</h2>
    </div>

    <div class="titles">

        <p class="name" >Name jsodjn dnifnf nfofnsss nfofnf nofjfss</p>
        
        <div class="actions" >
            <a href="/categories/edit/1" class="edits"><img src="/images/edit.png" class="edit" alt="edit"></a>
            <img src="/images/delete.png" class="delete" alt="delete"/>
        </div>

    </div>

</div>