<div class="Maindiv">
    <h1 class="titleaddproducts">Edit Category</h1>
    <a href="/categories" class="toaddProduct">categories</a>
</div>


<form class="infoProduct" id="editCategoryForm">
        
         <label for="name" class="namelabel">Name</label>
         <input type="text" name="name" id="nameinput" class="inputname">

    <button type="submit" id="editCategory" class="add">Update</button>

</form>

<div class="catcontainer">
    <div class="addAlerts" id="messagesadd" >
        <p id="message"></p>
        <button onclick="handleokcat()" class="ok" >ok</button>
    </div>
</div>