.AddProductTitle{
    color: rgb(29, 26, 26);
    margin-left: 13%;
    font-size: 40px;
}
.infoProduct{
    background: #f3f4f4;
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.layers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.inputs{
    padding: 6px;
    border-radius: 12px;
    border: 1px solid #bdbbbb;

}

.inputs:focus{
    outline: none;
    border: 1px solid #1899D6;
}
.add {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;
    margin: auto;
}

.add:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.add:main, .add:focus {
user-select: auto;
}

.add:hover:not(:disabled) {
filter: brightness(1.1);
}

.add:active:after {
border-width: 0 0 0px;
}

.add:active {
     padding-bottom: 10px;
}
