:root{
    --main-color:#D1E2F2;
    --second-color:#17526B;
}
body{
    background-color: var(--main-color);
    color: var(--second-color);
}
.AddProductTitle{
    margin-left: 15%;
    font-size: 45px;
}
.infoProduct{
    background: #A1CBDD;
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
    border-radius: 25px;
}
.layers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.labels{
    font-size: 23px;
}
.labelprices{
    font-size: 18px;
}
.inputs{
    padding: 6px;
    border-radius: 12px;
    border: 1px solid var(--second-color);
    background-color: transparent;
    color:var(--second-color);
}
.inputs:focus{
    outline: none;
    border: 1px solid var(--main-color);
}

.add {
    background-color: var(--second-color);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;
    margin: auto;
}

.add:after {
    background-clip: padding-box;
    background-color: var(--second-color);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.add:main, .add:focus {
user-select: auto;
}

.add:hover:not(:disabled) {
filter: brightness(1.1);
}

.add:active:after {
border-width: 0 0 0px;
}
.add:active {
     padding-bottom: 10px;
}



@media screen and (max-width: 810px){
    .AddProductTitle{
        margin-left: 7.5%;
        font-size: 40px;
    }
    .infoProduct{
        width: 85%;
    }
    .layers{
        justify-content: space-around;
    }
    .field{
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    .AddProductTitle{
        margin-left: 5%;
        font-size: 38px;
    }
    .infoProduct{
        width: 90%;
        padding: 20px 16px;
    }
    .layers{
        justify-content: space-between;
    }
    .field{
        width: 48%;
    }
    .labels{
        font-size: 21px;
    }
    .labelprices{
        font-size: 16px;
    }
}


@media screen and (max-width: 500px){
    .AddProductTitle{
        margin-left: 4.5%;
        font-size: 31px;
    }
    .infoProduct{
        width: 91%;
        padding: 20px 12px;
    }
    .field{
        width: 48%;
    }
    .labels{
        font-size: 18px;
    }
    .labelprices{
        font-size: 14px;
    }
}

@media screen and (max-width: 400px){
    .AddProductTitle{
        font-size: 30px;
    }
    .infoProduct{
        width: 91%;
        padding: 20px 10px;
    }
    .field{
        width: 48.5%;
    }
    .labels{
        font-size: 16px;
    }
    .labelprices{
        font-size: 13px;
    }
}
@media screen and (max-width: 370px){
    .AddProductTitle{
        font-size: 28px;
    }
    .infoProduct{
        width: 90%;
        padding: 20px 10px;
        gap: 15px;
    }
    .layers{
        flex-direction: column;
        gap: 15px;
    }
    .field{
        width: 85%;
    }
    .labels{
        font-size: 19px;
    }
    .labelprices{
        font-size: 15px;
    }
    .add{
        font-size: 13px;
    }
}