:root{
    --main-color:#D1E2F2;
    --second-color:#17526B;
}
body{
    background-color: var(--main-color);
    color: var(--second-color);
}
/* add products page */
.Maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    margin:0 auto;
    margin-top: 135px;
}
.titleaddproducts{
    font-size: 42px;
}
.infoProduct{
    background: #A1CBDD;
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
    border-radius: 25px;
}
.layers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.labels{
    font-size: 23px;
}
.labelprices{
    font-size: 18px;
}
.inputs{
    padding: 6px;
    border-radius: 12px;
    border: 1px solid var(--second-color);
    background-color: transparent;
    color:var(--second-color);
}
.inputs:focus{
    outline: none;
    border: 1px solid var(--main-color);
}

.add {
    background-color: var(--second-color);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;
    margin: auto;
}

.add:after {
    background-clip: padding-box;
    background-color: var(--second-color);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.add:main, .add:focus {
user-select: auto;
}

.add:hover:not(:disabled) {
filter: brightness(1.1);
}

.add:active:after {
border-width: 0 0 0px;
}
.add:active {
     padding-bottom: 10px;
}





/* get products page */
.Maincontainer{
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    margin-left: 7%;
}
.ProductsTitile{
    font-size: 45px;
}
.toaddProduct{
    background:var(--second-color);
    color: var(--main-color);
    padding: 17px;
    border-radius: 10px;
    font-size: 21px;
    text-decoration: none;
}
.products{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 50px;
    max-height: 500px;
    overflow: auto;
}
.products::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}
.products::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 5px;
}
.products::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 5px;        
    border: 2px solid #f0f0f0; 
}
.titles{
    border-bottom: 2px solid var(--second-color);
    display: flex;
    align-items: center;
    width: 1800px;
}
#title{
    width: 190px;
    padding: 10px;
}
.images{
    min-width: 120px;
    padding: 10px;
}
.quantity , .code{
    min-width: 150px;
    padding: 10px;
}
.purchasePrice ,.wholeSalePrice,.singlePrice{
    min-width: 170px;
    padding: 10px;

}
.image{
    background-color: red;
    width: 110px;
    height:100px
}
.edit ,.delete{
    width: 35px;
}
.edits{
    margin-right: 10px;
    height: 35px;
    display: inline-flex;
}
@media screen and (max-width: 1000px){
    .products{
        width: 96%;
        margin: 0 2%;
    }
    .Maincontainer{
        width: 94%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 810px){
    .Maindiv{
        width: 83%;
    }
    .titleaddproducts{
        font-size: 38px;
    }
    .infoProduct{
        width: 85%;
    }
    .layers{
        justify-content: space-around;
    }
    .field{
        width: 45%;
    }



    .ProductsTitile{
        font-size: 40px;
    }
}

@media screen and (max-width: 600px){
    .titleaddproducts{
        font-size: 33px;
    }
    .infoProduct{
        width: 90%;
        padding: 20px 16px;
    }
    .layers{
        justify-content: space-between;
    }
    .field{
        width: 48%;
    }
    .labels{
        font-size: 21px;
    }
    .labelprices{
        font-size: 16px;
    }


    .toaddProduct{
        padding: 15px;
        font-size: 18px;
     }
}


@media screen and (max-width: 500px){
    .titleaddproducts{
        font-size: 30px;
    }
    .infoProduct{
        width: 91%;
        padding: 20px 12px;
    }
    .field{
        width: 48%;
    }
    .labels{
        font-size: 18px;
    }
    .labelprices{
        font-size: 14px;
    }


    .ProductsTitile{
        font-size: 35px;
    }
}

@media screen and (max-width: 400px){
    .titleaddproducts{
        font-size: 27px;
    }
    .infoProduct{
        width: 91%;
        padding: 20px 10px;
    }
    .field{
        width: 48.5%;
    }
    .labels{
        font-size: 16px;
    }
    .labelprices{
        font-size: 13px;
    }


    .ProductsTitile{
        font-size: 30px;
    }
    .toaddProduct{
        padding: 13px;
        font-size: 16px;
    }
    .edit ,.delete{
        width: 32px;
    }
}
@media screen and (max-width: 370px){
    .titleaddproducts{
        font-size: 25px;
    }
    .infoProduct{
        width: 90%;
        padding: 20px 10px;
        gap: 15px;
    }
    .layers{
        flex-direction: column;
        gap: 15px;
    }
    .field{
        width: 85%;
    }
    .labels{
        font-size: 19px;
    }
    .labelprices{
        font-size: 15px;
    }
    .add{
        font-size: 13px;
        width: 60%;
    }


}