<div class="Maincontainer">
     <h1 class="ProductsTitile">Costs</h1>
     <a href="/costs/add" class="toaddProduct">Add Cost</a>
 </div>
 
 <div class="costs">
     
     <div class="costs-titles">
         <h2 class="name" id="title">Name</h2>
         <h2 class="details" id="title">Date</h2>
         <h2 class="quantity" >Ammount</h2>
         <!-- <p class="actions"></p> -->
     </div>
 
 
     <div class="getcosts"></div>
 </div>
 
 <div class="loading">
     <div class="loader">
          <div class="justify-content-center jimu-primary-loading"></div>
     </div>
 </div>
 
 <!-- <div id="productAlert" >
     <p>Are you sure you want to delete this Product?</p>
     <div class="sure">
         <button onclick="handleYes()" class="yes">Yes</button>
         <button onclick="handleNo()" class="yes">No</button>
     </div>
-->
</div>
<script src="/js/costs.js"></script>
