<div class="Maincontainer">
    <h1 class="ProductsTitile">Create Text Quotation</h1>
</div>

<div style="margin: 20px auto; padding: 10px;">
    <form id="text-quotation">
        <textarea style="border: 1px solid #17526B;" name="text" cols="30" rows="40" id="text"></textarea>
        
    </form>
    <button style="margin-top: 10px;" type="submit" id="addTextQuotationBtn" class="toaddProduct">Create Text Quotation</button>
</div>
<div class="catcontainer">
    <div class="addAlerts" id="messageproduct" >
        <p id="message"></p>
        <button onclick="handleokquot()" class="ok" >ok</button>
   </div>
</div>
<script src="/js/create-text-quotation.js"></script>