<div class="Maincontainer">
    <h1 class="ProductsTitile">creat Quotation</h1>
</div>

<div class="Maincontainer" style="margin: 20px auto;">
    <select  id="prices" class="selectinquatation">
        <option value="wholeSale">wholeSale price</option>
        <option value="single">single Price</option>
    </select>
    <a class="toaddProduct" href="/create-text-quotation">Create Text Quotation</a>
</div>

<div id="mainDiv" class="products" style="margin-bottom: 0;">
    
    <div class="rows" id="headquataion">
        <h2 class="columncheck" ></h2>
        <h2 class="columns" >image</h2>
        <h2 class="columns" >name</h2>
    </div>
    <div id="getquatations"></div>
</div>

<div style="display: flex;justify-content: center;width: 100%; margin: 50px 0;" id="creatdivqua">
    <button class="creatQuotation">Create</button>
</div>


<div class="catcontainer">
    <div class="addAlerts" id="messageproduct" >
        <p id="message"></p>
        <button onclick="handleokqua()" class="ok" >ok</button>
   </div>
</div>

<div class="loading">
    <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>

<script src="/js/creatQuotation.js"></script>
