<div class="filters">
    <select  id="sale" class="filter">
        <option value="wholesale">wholesale(بالجملة)</option>
        <option value="retail">Retail(بالمفرق)</option>
    </select>


    <select id="categoryfilter" class="filter">
        <option value="all">All Categpries</option>
        <option value="1">Category 1 hfbfj fbjfb fbeif</option>
    </select>

    <input type="search" id="search" placeholder="Search" class="filter">

</div>


<div class="homeproducts">

    <div class="homeproduct">

        <div class="product-image" style="background-image: url('/images/bags.png');"></div>
        <div class="product-info">
            <h3 class="product-name">Product 1</h3>
            <p class="product-price">100$</p>
        </div>

    </div>
    <div class="homeproduct">

        <div class="product-image" style="background-image: url('/images/bags.png');"></div>
        <div class="product-info">
            <h3 class="product-name">Product single single</h3>
            <p class="product-price">100$</p>
        </div>

    </div>
    <div class="homeproduct">

        <div class="product-image" style="background-image: url('/images/bags.png');"></div>
        <div class="product-info">
            <h3 class="product-name">Product 1</h3>
            <p class="product-price">100$</p>
        </div>

    </div>
    <div class="homeproduct">

        <div class="product-image" style="background-image: url('/images/bags.png');"></div>
        <div class="product-info">
            <h3 class="product-name">Product 1</h3>
            <p class="product-price">100$</p>
        </div>

    </div>
</div>