<div class="filters">

    <select  id="sale" class="filter" onchange="changeFilterSale()">
        <option value="wholesale">wholesale(بالجملة)</option>
        <option value="retail">Retail(بالمفرق)</option>
    </select>


    <select id="categoryfilter" class="filter" onchange="changeFilterCategory()">
        <option value="all">All Categories</option>
    </select>

    <input type="search" id="search" placeholder="Search" class="filter">

</div>


<div class="homeproducts">
</div>

<!-- loader -->
<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>