<div class="Maincontainer">
    <h1 class="ProductsTitile">Invoices</h1>
    <div>
        <a href="/statistics" class="toaddProduct">statistics</a>
        <a href="/refund-invoice" class="toaddProduct">refund an invoice</a>
    </div>
</div>

<div class="containerAproducts">
        

    <div class="ghraphPro">


            <div class="invCustomer">

                <div class="products" id="tabelinvcus">
                    
                    <div  id="headerinvcus">
                        <h2 class="columns" >date</h2>
                        <h2 class="columns">number</h2>
                        <h2 class="columns">discount</h2>
                        <h2 class="columns" >total price</h2>
                        <h2 class="columns" >profit</h2>
                        <h2 class="columns"></h2>
                    </div>

                    <div class="getinvoices"></div>
                </div>

            </div>
    </div>
</div>

<div class="proAninv">
    <p class="closeinvpro">X</p>
    <div class="products" id="tbleproinvCus">
                    
        <div  id="headerproinvcus">
            <h2 class="columns" >name</h2>
            <h2 class="columns">price</h2>
            <h2 class="columns">Quantity</h2>
        </div>

        <div class="getinvpro"></div>
    </div>
</div>


<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>
