<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <div class="loginPage">
        <img src="/images/logo.jpg" alt="logo" class="loginImg">
        <form class="loginform" >

            <h2 class="welcome">Welcome</h2>

            <label for="username" >username</label>
            <input type="text" name="username" id="username" class="inputslogin">
            <label for="password">password</label>
            <input type="password" name="password" id="password" class="inputslogin">
            <button type="submit" class="buttonlogin">Login</button>
        </form>
    </div>
</body>
</html>
