<div class="Maincontainer">
    <h1 class="ProductsTitile">Customer</h1>
    <a href="/customers" class="toaddProduct">customers</a>
</div>


<div class="containerAproducts">
        
    <div class="products">

        <div  class="headrow">
            <h2 class="columns">Name</h2>
            <h2 class="columns" >phone</h2>
            <h2 class="columns" >Address</h2>
        </div>
    
        <div id="getcustomers"></div>
    </div>

    <div class="ghraphPro">

        <h1>Invoices</h1>
            <form  class="formdatecus">
                <div class="dilterdatecus">
                    <label for="from">from:</label>
                    <input type="date" id="fromdateCus">
                </div>

                <div class="dilterdatecus">
                    <label for="to">to:</label>
                    <input type="date" id="todatecus">
                </div>
            </form>

            <div class="invCustomer">

                <div class="products" id="tabelinvcus">
                    
                    <div  id="headerinvcus">
                        <h2 class="columns" >date</h2>
                        <h2 class="columns">number</h2>
                        <h2 class="columns">discount</h2>
                        <h2 class="columns" >total price</h2>
                        <h2 class="columns" >profit</h2>
                        <h2 class="columns"></h2>
                    </div>

                    <div class="getinvoices"></div>
                </div>

            </div>

            
             <p class="NhaveProSup">No products found</p>
    </div>
</div>

<div class="proAninv">
        <p class="closeinvpro">X</p>
        <div class="products" id="tbleproinvCus">
                        
            <div  id="headerproinvcus">
                <h2 class="columns" >name</h2>
                <h2 class="columns">price</h2>
                <h2 class="columns">Quantity</h2>
            </div>

            <div class="getinvpro"></div>
        </div>
</div>

<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>