<div class="Maincontainer">
    <h1 class="ProductsTitile">Customers</h1>
    <a href="/customers/add" class="toaddProduct">add customer</a>
</div>

<div class="products">
    
    <div class="rows" id="headoftable">
        <h2 class="columns">Name</h2>
        <h2 class="columns" >phone</h2>
        <h2 class="columns" >Address</h2>
        <p class="actions"></p>
    </div>

    <div id="getcustomers"></div>
</div>

<!-- loader -->
<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>

<div id="customAlert" >
    <p>Are you sure you want to delete this customer?</p>
    <div class="sure">
        <button onclick="handleYes()" class="yes">Yes</button>
        <button onclick="handleNo()" class="yes">No</button>
    </div>
</div>