<div class="Maincontainer">
    <h1 class="ProductsTitile">Supplier</h1>
    <a href="/suppliers" class="toaddProduct">suppliers</a>
</div>

<div class="containerAproducts">
        
        <div class="products">
    
            <div  class="headrow">
                <h2 class="columns">Name</h2>
                <h2 class="columns" >phone</h2>
                <h2 class="columns" >Address</h2>
            </div>
        
            <div id="getsuppliers"></div>
        </div>

        <div class="ghraphPro">

            <h1>Products</h1>
            
            <div class="haveproSup">
                <form class="filterdatePro">
                    <div>
                        <label for="from">from:</label>
                        <input type="date" id="from" >
                    </div>

                    <div>
                        <label for="To">To:</label>
                        <input type="date" id="To" >
                    </div>
                </form>

                <div class="products" id="tabelproSup">
                    
                    <div  id="headerproSUp">
                        <p  class="imagesSup"></p>
                        <h2 class="columns" id="title">Name</h2>
                        <h2 class="columns" >Quantity</h2>
                        <h2 class="columns" >Purchase Price</h2>
                    </div>


                    <div class="getproducts"></div>
                </div>
            </div>
            <p class="NhaveProSup">No products found</p>
        </div>
</div>

<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>