<div class="Maincontainer">
    <h1 class="ProductsTitile">Statistics</h1>
    <a href="/invoices" class="toaddProduct">Invoices</a>
</div>

<div class="products">
    <!-- Year Selection Dropdown -->
    <div class="yearSelection">
        <label for="yearSelect">Select Year:</label>
        <select id="yearSelect">
            <!-- Options will be populated dynamically -->
        </select>
    </div>

    <!-- Container for the profit chart -->
    <div id="profitStatsChart" class="profitStatsChart"></div>
    <br>
    <br>
    <!-- Container for the invoice chart -->
    <div id="invoiceStatsChart" class="invoiceStatsChart"></div>
</div>

<!-- Loading Spinner -->
<div class="loading">
    <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>

<!-- Include ApexCharts library -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/statistics.js"></script>