<div class="Maincontainer">
    <h1 class="ProductsTitile">Suppliers</h1>
    <a href="/suppliers/add" class="toaddProduct">add supplier</a>
</div>

<div class="products">
    
    <div class="rows">
        <h2 class="columns">Name</h2>
        <h2 class="columns" >phone</h2>
        <h2 class="columns" >Address</h2>
        <p class="actions"></p>
    </div>

    <div class="rows">
        <p class="columns" >call me</p>
        <p class="columns" >70883675</p>
        <p class="columns" >pleaseee</p>
        <div class="actions" >
            <a href="/suppliers/edit/1" class="edits"><img src="/images/edit.png" class="edit" alt="edit"></a>
            <img src="/images/delete.png" class="delete" alt="delete"/>
        </div>

    </div>

</div>