
<div class="Maindiv">
    <h1 class="titleaddproducts">Add User</h1>
    <a href="/users" class="toaddProduct">Users</a>
</div>

<form class="infoProduct" id="addsup" method="post">
        

        <div class="containerfields">
            <label for="name" class="labels">username</label>
            <input type="text" name="username" id="username" class="inputs">
        </div>

        <div class="containerfields">
            <label for="details" class="labels">Password</label>
            <input type="password" name="password" id="password" class="inputs">
        </div>

       <button type="submit" class="add">Add User</button>

</form>

<div class="addAlerts" id="messagesaddsup" >
    <p id="messagesup"></p>
    <button onclick="handlesupok()" class="ok" >ok</button>
</div>