
<div class="Maindiv">
    <h1 class="titleaddproducts">edit User</h1>
    <a href="/allUsers" class="toaddProduct">Users</a>
</div>

<form class="infoProduct" id="edituser" method="post">
        

        <div class="containerfields">
            <label for="name" class="labels">username</label>
            <input type="text" name="username" id="username" class="inputs">
        </div>

       <button type="submit" class="add" id="edituserbutton">Update</button>

</form>

<div class="loading">
    <div class="loader">
         <div class="justify-content-center jimu-primary-loading"></div>
    </div>
</div>
<div class="catcontainer">
    <div class="addAlerts" id="messagesadduser" >
        <p id="messageuser"></p>
        <button onclick="handleusereditok()" class="ok" >ok</button>
    </div>
</div>