<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/categories.css">
  <link rel="stylesheet" href="/css/supplier.css">
</head>
<body>
    <%-include('../partials/header') %>

    <main>
        <%- body %>
    </main>

    <script src="/js/header.js"></script>
    <script src="/js/cat.js"></script>
    <script src="/js/supplier.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/customer.js"></script>
    <script src="/js/user.js"></script>
</body>
</html>
